{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-span-6 p-3 space-y-3 text-xl">
        <p>Здесь должны быть различные утилиты. Например, должна быть кнопка, чтобы запустить парсинг данных с api
            wildberries в базу данных Django ORM. Это должно быть реализовано с помощью асинхронных/параллельных задач с
            использованием celery с брокером сообщений redis. Во время выполнения описанного выше примера должна
            показываться полоса состояния и количество обработанных товаров. Progress bar реализуется
            через WebSocket.</p>
        <p>Также на этой странице должен быть редактор уведомлений. Например, каждый день отправлять сообщения клиентам
            об акциях, новых товарах и т.д. Можно редактировать шаблоны уведомлений, например об изменении статуса
            заказа или шаблоны сообщений, отправляемые на электронную почту при регистрации.</p>
        <button class="rounded-lg text-sm w-40 font-semibold py-1 px-2 bg-slate-900 text-white hover:bg-slate-700"
                type="submit">Оформить заказ
        </button>
    </div>
{% endblock %}