{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
{% csrf_token %}
<script src='{% static 'js/base.js' %}'></script>
<header class="flex bg-gradient-to-r from-blue-500 to-cyan-500 space-x-8 text-white p-2">
    <a href="{% url 'home' %}">PyPoint</a>
    {% if user.is_authenticated %}
        <ul class="navbar-nav px-3"><a class="nav-link">{{ user.fio }}</a></ul>
        <ul class="navbar-nav px-3">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </ul>
    {% else %}
        <ul class="navbar-nav px-3">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </ul>
        <ul class="navbar-nav px-3">
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
        </ul>
    {% endif %}
</header>
<div class="flex flex-row space-x-8 ">
    <div class="basis-1/6 h-full p-3">
        <div class="flex flex-col space-y-4">
            <span class="px-3 font-semibold">{{ user }}</span>
            {% for element in menu %}
                <a class="p-3 items-center shadow-lg rounded-lg" href="{% url element.url_name %}">
                    <i class="{{ element.icon_class }}"></i>&nbsp;
                    {{ element.title }}
                </a>
            {% endfor %}
            {% if cart_menu_element %}
                <a class="p-3 items-center shadow-lg rounded-lg" href="{% url cart_menu_element.url_name %}">
                    <i class="{{ cart_menu_element.icon_class }}"></i>&nbsp;
                    {{ cart_menu_element.title }}
                    <span class="" id="cart-quantity">{{ cart_goods_count }}</span>
                </a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>