{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
{% csrf_token %}
<script src='{% static 'js/base.js' %}'></script>
<header class="flex flex-row space-x-8 p-2 shadow-lg">
    <a class="px-2 font-bold basis-1/2" href="{% url 'home' %}">PyPoint</a>
    {% if user.is_authenticated %}
        <a class="basis-1/2">{{ user.fio }}</a>
        <a class="px-2" href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a class="" href="{% url 'register' %}">Регистрация</a>
        <a class="" href="{% url 'login' %}">Войти</a>
    {% endif %}
</header>
<div class="grid grid-cols-7 gap-8">
    {% if menu %}
        <div class="p-3">
            <div class="flex flex-col space-y-1">
                {% if user.is_authenticated %}
                    <span class="px-3">{{ user }}</span>
                {% endif %}
                {% for element in menu %}
                    <a class="p-3 items-center" href="{% url element.url_name %}">
                        <i class="{{ element.icon_class }}"></i>&nbsp;
                        {{ element.title }}
                    </a>
                    <hr>
                {% endfor %}
                {% if cart_menu_element %}
                    <a class="p-3 items-center" href="{% url cart_menu_element.url_name %}">
                        <i class="{{ cart_menu_element.icon_class }}"></i>&nbsp;
                        {{ cart_menu_element.title }}
                        <span class="" id="cart-quantity">{{ cart_goods_count }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>