{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if cart.cart_goods.all %}
        <div class="p-9 col-span-2 flex flex-col space-y-4">
            <h4 class="text-xl">Оформление заказа</h4>
            <div class="space-y-3">
                <div class="">
                    <input id="pick_point_checkbox" name="order_receiving" type="radio" class=""
                           onclick="receiving_checkbox_change()" checked>
                    <label class="" for="pick_point_checkbox">Пункт выдачи</label>
                </div>
                <div class="">
                    <input id="delivery_checkbox" name="order_receiving" type="radio" class=""
                           onclick="receiving_checkbox_change()">
                    <label class="" for="delivery_checkbox">Доставка</label>
                </div>
            </div>
            <form class="space-y-3" method="post">
                {% for error in form.non_field_errors %}
                    <strong class="text-red-500">{{ error }}</strong>
                {% endfor %}
                {% csrf_token %}
                <div>
                    <div class="grid grid-cols-2 items-center" id="pick_point_input">
                        <label class="">Пункт выдачи</label>
                        {{ form.pick_point }}
                    </div>
                    <div class="grid grid-cols-2 items-center" id="delivery_input" style="display: none">
                        <label class="">Адрес доставки</label>
                        {{ form.delivery_point }}
                    </div>
                </div>
                <button class="rounded-lg text-sm w-40 font-semibold py-1 px-2 bg-slate-900 text-white hover:bg-slate-700"
                        type="submit">Оформить заказ
                </button>
            </form>
        </div>
        <div class="p-6 col-start-5 col-span-3 text-lg">
            <div class="flex flex-row items-center p-3 space-x-3">
                <span class="text-xl">Корзина</span>
                <span class="bg-blue-500 rounded-full text-white px-2 text-l">{{ cart_goods_count }}</span>
            </div>
            <div class="space-y-1">
                {% for cart_good in cart.cart_goods.all|dictsort:"created_date" %}
                    <div class="grid grid-cols-3 p-3 gap-6 rounded-lg items-center">
                        <div class="flex flex-row space-x-2 items-center">
                            <input class="cart-good-checkbox w-4 h-4 rounded hover:cursor-pointer"
                                   id="checkbox-{{ cart_good.id }}"
                                   type="checkbox" value="{{ cart_good.id }}"
                                    {% if cart_good.selected %} checked {% endif %} id="flexCheckDefault">
                            <label class="hover:cursor-pointer"
                                   for="checkbox-{{ cart_good.id }}">{{ cart_good.good.name }}</label>
                        </div>
                        <div class="grid grid-cols-2 col-span-2">
                            <div class="flex flex-row items-center justify-center">
                                <i class="bg-blue-500 rounded-full hover:bg-blue-400 px-1.5 py-1 text-white text-sm font-bold hover:cursor-pointer fi fi-rr-plus add-btn"
                                   data-cart_good_id="{{ cart_good.id }}"
                                   data-add="1">
                                </i>
                                <span class="text-center px-2"
                                      id="cart-good-quantity-{{ cart_good.id }}">{{ cart_good.quantity }}</span>
                                <i class="bg-blue-500 rounded-full hover:bg-blue-400 px-1.5 py-1 text-white text-sm font-bold hover:cursor-pointer fi fi-rr-minus add-btn"
                                   data-cart_good_id="{{ cart_good.id }}"
                                   data-add="-1">
                                </i>
                            </div>
                            <span class="basis-1/3 text-right">{{ cart_good.good.price }} руб.</span>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {% if cart.promo_code %}
                    <div class="grid grid-cols-3 p-3 rounded-lg items-center">
                        <p class="px-1">{{ cart.promo_code }}</p>
                        <p class="text-center text-blue-500">{{ cart.promo_code_name }}</p>
                        <span class="text-right" id="promocode-difference">-{{ total_difference }} руб.</span>
                    </div>
                    <hr>
                {% endif %}
                <div>
                    <div class="grid grid-cols-2 p-3">
                        <span class="text-xl">Итого без скидки: </span>
                        <span class="text-right" id="total">{{ cart.total }} руб.</span>
                    </div>
                    <hr>
                    <div class="grid grid-cols-2 p-3">
                        <span class="text-xl">Итого со скидкой: </span>
                        <span class="text-right" id="total-discount">{{ cart.total_with_discount }} руб.</span>
                    </div>
                </div>
                <form class="grid grid-cols-2 gap-12 p-3" action="{% url 'update_cart_promo_code' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="rounded-lg" placeholder="промокод" name="promo_code"/>
                    <button type="submit"
                            class="rounded-lg text-sm font-semibold py-3 px-4 bg-slate-900 text-white hover:bg-slate-700">
                        Подтвердить
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <h4 class="mb-3">Корзина пуста</h4>
    {% endif %}
    <script>
        function receiving_checkbox_change() {
            let pick_point_checked = document.getElementById('pick_point_checkbox').checked
            document.getElementById('pick_point_input').style.display = pick_point_checked ? 'grid' : 'none'
            document.getElementById('delivery_input').style.display = pick_point_checked ? 'none' : 'grid'
            document.getElementById('id_pick_point').value = ''
            document.getElementById('id_delivery_point').value = ''
        }
    </script>
    <script>

        let total_label = document.getElementById('total')
        let total_discount_label = document.getElementById('total-discount')
        let promocode_difference_label = document.getElementById('promocode-difference')

        async function update_card() {
            await axios.get("{% url 'get-cart' %}", baseConfig).then(response => {
                total_label.innerHTML = response.data.total + ' руб.'
                total_discount_label.innerHTML = response.data.total_with_discount + ' руб.'
                promocode_difference_label.innerHTML = (response.data.total_with_discount - response.data.total).toFixed(2) + ' руб.'
            })
        }

        async function update_card_good_selected(event) {
            event.target.disabled = true
            setTimeout(() => event.target.disabled = false, 500)
            await axios.patch("{% url 'cart-goods-list' %}" + `${event.target.value}/`, {
                selected: event.target.checked
            }, baseConfig).then(async () => await update_card())
        }

        [...document.getElementsByClassName('cart-good-checkbox')].forEach(checkbox => {
            checkbox.addEventListener('change', async (event) => await update_card_good_selected(event))
        });

        async function update_cart_good_quantity(event) {
            let quantity_label = document.getElementById(`cart-good-quantity-${event.target.dataset.cart_good_id}`)
            let add = Number(event.target.dataset.add)
            let cart_good_id = Number(event.target.dataset.cart_good_id)
            let new_quantity = Number(quantity_label.innerHTML) + add
            event.target.disabled = true
            setTimeout(() => event.target.disabled = false, 500)
            await axios.patch("{% url 'cart-goods-list' %}" + `${cart_good_id}/`, {
                quantity: new_quantity
            }, baseConfig).then(async () => {
                if (new_quantity === 0) {
                    document.location.reload();
                }
                quantity_label.innerHTML = new_quantity.toString()
                await update_card()
            })
        }

        [...document.getElementsByClassName('add-btn')].forEach(add_btn => {
            add_btn.addEventListener('click', async (event) => await update_cart_good_quantity(event))
        });
    </script>
{% endblock %}