{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if cart.cart_goods.all %}
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Ваша корзина</span>
                    <span class="badge bg-primary rounded-pill">{{ cart_goods_count }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for cart_good in cart.cart_goods.all|dictsort:"created_date" %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <input class="form-check-input form-check cart-good-checkbox" type="checkbox"
                                   value="{{ cart_good.id }}"
                                    {% if cart_good.selected %} checked {% endif %} id="flexCheckDefault">&nbsp;
                            <div>
                                <h6 class="my-0">{{ cart_good.good.name }}</h6>
                                <small class="text-muted">{{ cart_good.good.description }}</small>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-outline-primary add-btn" data-cart_good_id="{{ cart_good.id }}"
                                        data-add="1">+
                                </button>
                                <button class="btn btn-outline-primary add-btn" data-cart_good_id="{{ cart_good.id }}"
                                        data-add="-1">-
                                </button>
                            </div>
                            <span class="text-muted">{{ cart_good.good.price }} руб.</span>
                            <span class="badge bg-primary rounded-pill"
                                  id="cart-good-quantity-{{ cart_good.id }}">{{ cart_good.quantity }}</span>
                        </li>
                    {% endfor %}
                    {% if cart.promo_code %}
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">{{ cart.promo_code }}</h6>
                                <small>{{ cart.promo_code_name }}</small>
                            </div>
                            <span class="text-success" id="promocode-difference">-{{ total_difference }} руб.</span>
                        </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Итого без скидки</span>
                        <strong id="total">{{ cart.total }} руб.</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Итого со скидкой</span>
                        <strong id="total-discount">{{ cart.total_with_discount }} руб.</strong>
                    </li>
                </ul>

                <form class="card p-2" action="{% url 'update_cart_promo_code' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="промокод" name="promo_code"/>
                        <button type="submit" class="btn btn-secondary">Подтвердить</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Оформление заказа</h4>
                <form class="needs-validation" novalidate="">
                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked=""
                                   required="">
                            <label class="form-check-label" for="credit">Пункт выдачи</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input"
                                   required="">
                            <label class="form-check-label" for="debit">Самовывоз</label>
                        </div>
                    </div>

                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label class="form-label">Пункт выдачи</label>
                            {{ form.pick_point }}
                            <label class="form-label">Адрес доставки</label>
                            {{ form.delivery_point }}
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Оформить заказ</button>
                </form>
            </div>
        </div>
    {% else %}
        <h4 class="mb-3">Корзина пуста</h4>
    {% endif %}
    <script>
        let total_label = document.getElementById('total')
        let total_discount_label = document.getElementById('total-discount')
        let promocode_difference_label = document.getElementById('promocode-difference')

        async function update_card() {
            await axios.get("{% url 'get-cart' %}", baseConfig).then(response => {
                total_label.innerHTML = response.data.total + ' руб.'
                total_discount_label.innerHTML = response.data.total_with_discount + ' руб.'
                promocode_difference_label.innerHTML = (response.data.total_with_discount - response.data.total).toFixed(2) + ' руб.'
            })
        }

        async function update_card_good_selected(event) {
            event.target.disabled = true
            setTimeout(() => event.target.disabled = false, 500)
            await axios.patch("{% url 'cart-goods-list' %}" + `${event.target.value}/`, {
                selected: event.target.checked
            }, baseConfig).then(async () => await update_card())
        }

        [...document.getElementsByClassName('cart-good-checkbox')].forEach(checkbox => {
            checkbox.addEventListener('change', async (event) => await update_card_good_selected(event))
        });

        async function update_cart_good_quantity(event) {
            let quantity_label = document.getElementById(`cart-good-quantity-${event.target.dataset.cart_good_id}`)
            let add = Number(event.target.dataset.add)
            let cart_good_id = Number(event.target.dataset.cart_good_id)
            let new_quantity = Number(quantity_label.innerHTML) + add
            event.target.disabled = true
            setTimeout(() => event.target.disabled = false, 500)
            await axios.patch("{% url 'cart-goods-list' %}" + `${cart_good_id}/`, {
                quantity: new_quantity
            }, baseConfig).then(async () => {
                if (new_quantity === 0) {
                    document.location.reload();
                }
                quantity_label.innerHTML = new_quantity.toString()
                await update_card()
            })
        }

        [...document.getElementsByClassName('add-btn')].forEach(add_btn => {
            add_btn.addEventListener('click', async (event) => await update_cart_good_quantity(event))
        });
    </script>
{% endblock %}