{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-span-6">
        {% for good in goods %}
            <div class="rounded-lg p-2 shadow-lg m-3 w-80">
                <img src="{% get_media_prefix %}{{ good.image }}" alt="" class=""
                     width="100%" height="100%"/>
                <div class="space-y-2 flex flex-col">
                    <p class="font-semibold">{{ good.name }}</p>
                    <p class="">{{ good.price }} руб.</p>
                    <button class="rounded-lg text-sm left-0 w-40 font-semibold py-1 px-2 bg-slate-900 text-white hover:bg-slate-700 add-to-cart-btn"
                            value="{{ good.id }}">
                        Добавить в корзину
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        cart_quantity_label = document.getElementById('cart-quantity')

        async function add_to_cart(event) {
            event.target.disabled = true
            setTimeout(() => event.target.disabled = false, 500)
            await axios.post("{% url 'add-to-cart' %}", {
                good_id: Number(event.target.value)
            }, baseConfig).then(async () => {
                await axios.get("{% url 'get-cart' %}", baseConfig).then(
                    response => cart_quantity_label.innerHTML = response.data.count)
            })
        }


        [...document.getElementsByClassName('add-to-cart-btn')].forEach(add_to_cart_btn => {
            add_to_cart_btn.addEventListener('click', async (event) => await add_to_cart(event))
        });
    </script>
{% endblock %}