{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-span-6">
        {% for order in orders.all %}
            <div class="rounded-lg p-2 shadow-lg m-3 w-80 space-y-3">
                <div class="grid grid-cols-2 items-center">
                    <h4>{{ order.created_at }}</h4>
                    <h4 class="text-center">{{ order.status_type }}</h4>
                </div>
                <hr>
                <div class="space-y-2">
                    {% for ordered_good in order.ordered_goods.all %}
                        <div class="grid grid-cols-2 p-1 items-center">
                            <p>{{ ordered_good.good.name }}</p>
                            <p class="text-center">{{ ordered_good.good.price }} руб.</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="grid grid-cols-2 items-center">
                    <button class="rounded-lg text-sm left-0 w-40 font-semibold py-1 px-2 bg-slate-900 text-white hover:bg-slate-700 add-to-cart-btn"
                            value="{{ order.id }}">
                        Подробнее
                    </button>
                    <p class="font-semibold text-center">{{ order.total }} руб.</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}