{% load static %}
<html lang="ru">
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
    <tr valign="top">
        <td class="cfb0583ab1b10e3flight-text"
            style="color:#001a34;font-family:'gtdisplay' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:24px;font-weight:500;line-height:28px;padding:0 0 16px 0;text-decoration:none">
            Заказ {{ order.id }} принят
        </td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
    <tr valign="top">
        <td class="cfb0583ab1b10e3flight-text"
            style="color:#001a34;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0 0 12px 0;text-decoration:none">
            <p style="margin-bottom:10px;margin-top:10px">Здравствуйте, {{ customer_name }}!</p>
            <p style="margin-bottom:10px;margin-top:10px">Товары уже готовятся к отправке — мы пришлем уведомление в
                день доставки.</p></td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;max-width:600px">
    <tbody>
    <tr valign="top">
        <td class="cfb0583ab1b10e3flight-text"
            style="color:#001a34;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0 0 24px 0;text-decoration:none">
            Команда PyPoint
        </td>
    </tr>
    </tbody>
</table>
<table style="background-color: #eff3f6;border-collapse: collapse;border-radius: 12px;table-layout: fixed;width: 100%">
    <tbody>
    <tr style="vertical-align: top">
        <td style="padding: 27px 24px 0 76px;width: 24px">
            <svg width="24" fill="DodgerBlue"
                 viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"></path>
            </svg>
        </td>
        <td style="padding: 24px 76px 24px 24px"><p
                style="color: #001a34;font-family: 'gtdisplay' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:500;line-height:20px;margin:0">
            <b>Номер заказа</b></p>
            <p style="font-family: 'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;margin:0;text-decoration:none">
                <a href="https://www.ozon.ru/my/orderdetails/?order=44481757-0075&amp;comm=4fnniX2PBO-zvXUSXgc00dSYFw8000000M000000000LrnALrT9Apn9ApnhxqmNPbPZLsChBszQQd3gUcjsRdOQMc3sR"
                   target="_blank"
                   style="color: #005bff;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;text-decoration:none"
                   data-link-id="5" rel="noopener noreferrer">{{ order.id }}</a></p></td>
    </tr>
    <tr style="vertical-align: top">
        <td class="ea3b6f927e6183a3order-info-icons" style="padding:3px 24px 0 76px;width:24px">
            <svg width="24" fill="DodgerBlue" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            </svg>
        </td>
        <td style="padding:0 76px 24px 24px">
            <div class="cfb0583ab1b10e3flight-text"
                 style="color:#001a34;font-family:'gtdisplay' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:500;line-height:20px">
                <b>Дата&nbsp;доставки</b></div>
            <div class="cfb0583ab1b10e3flight-text"
                 style="font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;text-decoration:none">
                В ближайшие дни
            </div>
        </td>
    </tr>
    <tr valign="top">
        <td class="ea3b6f927e6183a3order-info-icons" style="padding:3px 24px 0 76px;width:24px">
            <svg width="26" fill="DodgerBlue" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
        </td>
        <td style="padding:0 76px 24px 24px">
            <div class="cfb0583ab1b10e3flight-text"
                 style="color:#001a34;font-family:'gtdisplay' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:500;line-height:20px">
                <b> Адрес пункта выдачи </b></div>
            <div class="cfb0583ab1b10e3flight-text"
                 style="font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;text-decoration:none">
                <span data-widget-id="ixqy38"><span
                        class="AddressWidget_wrapper_-yuH2 qa-MessageViewer-AddressWidget-wrapper">{{ order.pick_point }}
                    <svg
                            height="12" viewBox="0 0 251 399" width="12" xmlns="http://www.w3.org/2000/svg"
                            class="AddressWidget_mapsIcon_eZkL-" aria-hidden="true"><g fill="none" fill-rule="evenodd"><path
                            d="M176.14 162.519l73.87-33.664c0 58.934-40.706 119.826-76.82 177.831l-61.905 91.898 27.085-167.789z"
                            fill="#e00000"></path><path
                            d="M125.451 249.993C56.417 249.993.454 194.03.454 124.997.454 55.963 56.417 0 125.451 0c69.034 0 124.997 55.963 124.997 124.997 0 69.033-55.963 124.996-124.997 124.996zm0-75.193c27.506 0 49.803-22.298 49.803-49.803 0-27.506-22.297-49.804-49.803-49.804-27.506 0-49.803 22.298-49.803 49.804 0 27.505 22.297 49.803 49.803 49.803z"
                            fill="#f33"></path></g></svg></span></span></div>
        </td>
    </tr>
    <tr valign="top">
        <td class="ea3b6f927e6183a3order-info-icons" style="padding:3px 24px 0 76px;width:24px">
            <svg width="26" fill="DodgerBlue"
                 viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
        </td>
        <td style="padding:0 76px 24px 24px">
            <div class="cfb0583ab1b10e3flight-text"
                 style="color:#001a34;font-family:'gtdisplay' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:500;line-height:20px">
                <b>Получатель</b></div>
            <div class="cfb0583ab1b10e3flight-text"
                 style="font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;text-decoration:none">
                {{ order.customer.fio }}
            </div>
            <div class="cfb0583ab1b10e3flight-text"
                 style="font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;text-decoration:none">
                <span class="wmi-callto">{{ order.customer.phone }}</span></div>
        </td>
    </tr>
    <tr valign="top">
        <td class="48ec013875a8192dmobile-price-block" colspan="2" style="padding:0 76px 24px 76px">
            <table class="4e7cb616b3f4bc68black-block" border="0" cellpadding="0" cellspacing="0" width="100%"
                   style="background-color:white;border-radius:12px;width:100%">
                <tbody>
                <tr>
                    <td style="padding:24px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr valign="top">
                                <td class="cfb0583ab1b10e3flight-text" colspan="2"
                                    style="box-sizing:border-box;color:#001a34;font-family:'gtdisplay' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:500;line-height:20px;padding:0 12px 8px 0">
                                    <b>Оплачено {{ order.total }} ₽</b></td>
                            </tr>
                            <tr valign="top">
                                <td class="cfb0583ab1b10e3flight-text"
                                    style="color:#001a34;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0 12px 16px 0;text-decoration:none">
                                    Система Быстрых Платежей
                                </td>
                            </tr>
                            <tr valign="top">
                                <td class="cfb0583ab1b10e3flight-text"
                                    style="box-sizing:border-box;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0 12px 3px 0;text-decoration:none">
                                    Товары
                                </td>
                                <td class="cfb0583ab1b10e3flight-text"
                                    style="box-sizing:border-box;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0;text-align:right;text-decoration:none">
                                    {{ order.total }} ₽
                                </td>
                            </tr>
                            <tr valign="top">
                                <td class="cfb0583ab1b10e3flight-text"
                                    style="box-sizing:border-box;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0 12px 3px 0;text-decoration:none">
                                    Доставка
                                </td>
                                <td class="cfb0583ab1b10e3flight-text"
                                    style="color:#001a34;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:0;text-align:right;text-decoration:none">
                                    0 ₽
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
    <tr valign="top">
        <td class="cfb0583ab1b10e3flight-text"
            style="font-family:'-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:18px;font-weight:500;line-height:22px;padding: 10px 0 0 10px;text-decoration:none">
            <b>Доставка в пункт выдачи PyPoint в ближайшие дни</b></td>
    </tr>
    <tr>
        <td style="padding:0 0 20px 0"></td>
    </tr>
    <tr valign="top"></tr>
    <tr class="2d1ff149f41edd2dposting-item" valign="top">
        <td class="cfb0583ab1b10e3flight-text" style="padding:12px 0 12px 0">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                <tbody>
                <tr valign="top">
                    <td style="padding:12px 0 12px 0">
                        <table border="0" cellpadding="10" cellspacing="2" width="100%"
                               style="border-collapse:collapse">
                            <tbody>
                            {% for ordered_good in order.ordered_goods.all %}
                                <tr valign="top">
                                    <td width="17%"><a
                                            href="https://www.ozon.ru/context/detail/id/216140346?comm=490WHr2PBO-zvXUSXgc00dSYFw8000000M000000000LoSZKt6lUt2ZApnhxqmMLqmgLcz4ScjgMcPgS"
                                            target="_blank" data-link-id="6" rel="noopener noreferrer"> <img alt=" "
                                                                                                             border="0"
                                                                                                             src="{% get_media_prefix %}{{ ordered_good.good.image }}"
                                                                                                             width="76"
                                                                                                             style="display:block;margin:0;max-width:76px;min-width:50px;width:100%">
                                    </a></td>
                                    <td width="66%"><a class="cfb0583ab1b10e3flight-text"
                                                       href=""
                                                       target="_blank"
                                                       style="color:#001a34;font-family:'gttext' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;text-decoration:none"
                                                       data-link-id="7"
                                                       rel="noopener noreferrer">{{ ordered_good.good.name }}</a></td>
                                    <td width="17%" style="padding:0 0 0 20px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               style="border-collapse:collapse;text-align:right">
                                            <tbody>
                                            <tr valign="top">
                                                <td class="cfb0583ab1b10e3flight-text"
                                                    style="color:#001a34;font-family:'gtelight' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:500;line-height:20px;padding:2px 0 5px 0">
                                                    {{ ordered_good.good.price }} ₽
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="color:#99a3ad;font-family:'gtelight' , '-apple-system' , 'blincmacsystemfont' , 'helvetica neue' , 'roboto' , 'helvetica' , 'lucida grande' , 'tahoma' , 'verdana' , 'arial' , sans-serif;font-size:16px;font-weight:300;line-height:24px;padding:2px 0 5px 0">
                                                    {{ ordered_good.good.price }}&nbsp;₽&nbsp;x&nbsp;1&nbsp;шт.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>